---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=ZHesXhc8C7qYFzqF_h3w5tt2ij4_jgFv4VlIiNGWIlU&orientation=landscape&page=1&per_page=1&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Etag:
      - W/"e4033990794b8154b0776efeca161c0c"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"BvuTPULENtU","created_at":"2020-11-30T11:04:02-05:00","updated_at":"2022-01-16T08:15:54-05:00","promoted_at":null,"width":5472,"height":3648,"color":"#a68c8c","blur_hash":"LBELpX0O0en3~Aiv9ZOZE2s:niNa","description":"Man
        pulls vape pen from the clear. Pure, potent, clear THC distillate. Disposable
        vape. ","alt_description":"person holding black and gold pen","urls":{"raw":"https://images.unsplash.com/photo-1606752096631-68d36ddca513?ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjI4NDQ\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1606752096631-68d36ddca513?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjI4NDQ\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1606752096631-68d36ddca513?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjI4NDQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1606752096631-68d36ddca513?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjI4NDQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1606752096631-68d36ddca513?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjI4NDQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/BvuTPULENtU","html":"https://unsplash.com/photos/BvuTPULENtU","download":"https://unsplash.com/photos/BvuTPULENtU/download?ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjI4NDQ","download_location":"https://api.unsplash.com/photos/BvuTPULENtU/download?ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjI4NDQ"},"categories":[],"likes":6,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"wrVvoOK78pk","updated_at":"2022-01-13T17:29:42-05:00","username":"clearcannabis","name":"Clear
        Cannabis","first_name":"Clear","last_name":"Cannabis","twitter_username":null,"portfolio_url":"https://clearconcentrate.com/","bio":"The
        first \u0026 the original. ","location":"Denver, Colorado","links":{"self":"https://api.unsplash.com/users/clearcannabis","html":"https://unsplash.com/@clearcannabis","photos":"https://api.unsplash.com/users/clearcannabis/photos","likes":"https://api.unsplash.com/users/clearcannabis/likes","portfolio":"https://api.unsplash.com/users/clearcannabis/portfolio","following":"https://api.unsplash.com/users/clearcannabis/following","followers":"https://api.unsplash.com/users/clearcannabis/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1611095408986-5eb27437615dimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1611095408986-5eb27437615dimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1611095408986-5eb27437615dimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"theclearconcentrates","total_collections":0,"total_likes":4,"total_photos":44,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"theclearconcentrates","portfolio_url":"https://clearconcentrate.com/","twitter_username":null,"paypal_email":null}},"exif":{"make":"Canon","model":"Canon
        EOS 6D","name":"Canon, EOS 6D","exposure_time":"1/200","aperture":"2.8","focal_length":"200.0","iso":200},"location":{"title":"Denver,
        CO, USA","name":"Denver, CO, USA","city":"Denver","country":"United States","position":{"latitude":39.739236,"longitude":-104.990251}},"views":170420,"downloads":986}'
  recorded_at: Sun, 16 Jan 2022 19:54:04 GMT
recorded_with: VCR 6.0.0
