---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=ZHesXhc8C7qYFzqF_h3w5tt2ij4_jgFv4VlIiNGWIlU&orientation=landscape&page=1&per_page=1&query=denver,cocity
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Etag:
      - W/"d7b7c1a51faf299dcd77cb3f7864e9a3"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"gfuwtvbF9PY","created_at":"2021-07-13T02:31:49-04:00","updated_at":"2022-01-15T22:19:56-05:00","promoted_at":null,"width":2601,"height":2032,"color":"#d9d9d9","blur_hash":"LhHCG=%2-;aztnIUaxt6_N%MRjay","description":null,"alt_description":"black
        audi coupe on road during daytime","urls":{"raw":"https://images.unsplash.com/photo-1626157854457-df0cd78d0c52?ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjMxOTc\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1626157854457-df0cd78d0c52?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjMxOTc\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1626157854457-df0cd78d0c52?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjMxOTc\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1626157854457-df0cd78d0c52?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjMxOTc\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1626157854457-df0cd78d0c52?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjMxOTc\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/gfuwtvbF9PY","html":"https://unsplash.com/photos/gfuwtvbF9PY","download":"https://unsplash.com/photos/gfuwtvbF9PY/download?ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjMxOTc","download_location":"https://api.unsplash.com/photos/gfuwtvbF9PY/download?ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjMxOTc"},"categories":[],"likes":2,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"NJko8VbukLw","updated_at":"2021-11-30T06:35:16-05:00","username":"selbotron","name":"Sean
        Selbo","first_name":"Sean","last_name":"Selbo","twitter_username":null,"portfolio_url":null,"bio":"I''m
        just a guy who loves cars and being around the people who share the same passion.
        I love getting photos of my car at all of the wonderful locations in my city
        and state. People may have adopted Colorado but, I was raised in it. Molded
        by it.","location":"Colorado, U.S.A.","links":{"self":"https://api.unsplash.com/users/selbotron","html":"https://unsplash.com/@selbotron","photos":"https://api.unsplash.com/users/selbotron/photos","likes":"https://api.unsplash.com/users/selbotron/likes","portfolio":"https://api.unsplash.com/users/selbotron/portfolio","following":"https://api.unsplash.com/users/selbotron/following","followers":"https://api.unsplash.com/users/selbotron/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1533014353236-f52895fa39c0?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1533014353236-f52895fa39c0?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1533014353236-f52895fa39c0?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"Selbotron","total_collections":3,"total_likes":0,"total_photos":27,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"Selbotron","portfolio_url":null,"twitter_username":null,"paypal_email":null}},"exif":{"make":null,"model":null,"name":null,"exposure_time":null,"aperture":null,"focal_length":null,"iso":null},"location":{"title":"Downtown
        Denver, Denver, CO, USA","name":"Downtown Denver, Denver, CO, USA","city":"Denver","country":"United
        States","position":{"latitude":39.7452,"longitude":-104.992185}},"views":2273,"downloads":17}'
  recorded_at: Sun, 16 Jan 2022 19:59:57 GMT
recorded_with: VCR 6.0.0
