---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=ZHesXhc8C7qYFzqF_h3w5tt2ij4_jgFv4VlIiNGWIlU&orientation=landscape&page=1&per_page=1&query=denver,cocity
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Etag:
      - W/"1d99c37b1e48af59673284173e41a386"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"x6CUBgH-wyQ","created_at":"2021-01-11T20:23:56-05:00","updated_at":"2022-01-15T16:16:35-05:00","promoted_at":null,"width":5568,"height":3712,"color":"#d9d9d9","blur_hash":"LhIqx]xvIUoe~q%MM{RkNc%2WBRj","description":"INSTAGRAM:
        SARRAMPHOTOGRAPHY","alt_description":"red car on road during daytime","urls":{"raw":"https://images.unsplash.com/photo-1610414290983-00b80ece0017?ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjMxOTY\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1610414290983-00b80ece0017?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjMxOTY\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1610414290983-00b80ece0017?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjMxOTY\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1610414290983-00b80ece0017?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjMxOTY\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1610414290983-00b80ece0017?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjMxOTY\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/x6CUBgH-wyQ","html":"https://unsplash.com/photos/x6CUBgH-wyQ","download":"https://unsplash.com/photos/x6CUBgH-wyQ/download?ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjMxOTY","download_location":"https://api.unsplash.com/photos/x6CUBgH-wyQ/download?ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjMxOTY"},"categories":[],"likes":21,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{"wallpapers":{"status":"rejected"}},"user":{"id":"7vaZ99fSB5o","updated_at":"2022-01-16T08:47:10-05:00","username":"nima_sarram","name":"Nima
        Sarram","first_name":"Nima","last_name":"Sarram","twitter_username":null,"portfolio_url":null,"bio":"INSTAGRAM:
        SARRAMPHOTOGRAPHY\r\nBased out of Denver Colorado","location":"Denver, Co","links":{"self":"https://api.unsplash.com/users/nima_sarram","html":"https://unsplash.com/@nima_sarram","photos":"https://api.unsplash.com/users/nima_sarram/photos","likes":"https://api.unsplash.com/users/nima_sarram/likes","portfolio":"https://api.unsplash.com/users/nima_sarram/portfolio","following":"https://api.unsplash.com/users/nima_sarram/following","followers":"https://api.unsplash.com/users/nima_sarram/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1601953490826-6eeca3f02875image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1601953490826-6eeca3f02875image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1601953490826-6eeca3f02875image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"sarramphotography","total_collections":16,"total_likes":19,"total_photos":353,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"sarramphotography","portfolio_url":null,"twitter_username":null,"paypal_email":null}},"exif":{"make":"NIKON
        CORPORATION","model":"NIKON D7500","name":"NIKON CORPORATION, NIKON D7500","exposure_time":"1/8000","aperture":"1.4","focal_length":"50.0","iso":125},"location":{"title":"Denver,
        CO, USA","name":"Denver, CO, USA","city":"Denver","country":"United States","position":{"latitude":39.739236,"longitude":-104.990251}},"views":110870,"downloads":1720}'
  recorded_at: Sun, 16 Jan 2022 19:59:57 GMT
recorded_with: VCR 6.0.0
