---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=ZHesXhc8C7qYFzqF_h3w5tt2ij4_jgFv4VlIiNGWIlU&orientation=landscape&page=1&per_page=1&query=denver,cocity
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Etag:
      - W/"997496272967551ac51bed55fee210d6"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"Gh092sNAGYg","created_at":"2021-08-27T18:41:04-04:00","updated_at":"2022-01-16T10:21:07-05:00","promoted_at":null,"width":2999,"height":2055,"color":"#737373","blur_hash":"LQFYcCE1IUNH_NaeslM{.8V@M{WA","description":"Erdem
        Tekiner\ninfo@erdemtekiner.com\nwww.erdemtekiner.com","alt_description":"yellow
        and white volkswagen beetle on road during daytime","urls":{"raw":"https://images.unsplash.com/photo-1630102925197-b08c7e5e3c35?ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjM4NDU\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1630102925197-b08c7e5e3c35?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjM4NDU\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1630102925197-b08c7e5e3c35?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjM4NDU\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1630102925197-b08c7e5e3c35?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjM4NDU\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1630102925197-b08c7e5e3c35?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjM4NDU\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/Gh092sNAGYg","html":"https://unsplash.com/photos/Gh092sNAGYg","download":"https://unsplash.com/photos/Gh092sNAGYg/download?ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjM4NDU","download_location":"https://api.unsplash.com/photos/Gh092sNAGYg/download?ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjM4NDU"},"categories":[],"likes":0,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"Vp61OdBKgNs","updated_at":"2022-01-14T13:25:29-05:00","username":"erdemtekiner","name":"Erdem
        Tekiner","first_name":"Erdem","last_name":"Tekiner","twitter_username":null,"portfolio_url":null,"bio":null,"location":null,"links":{"self":"https://api.unsplash.com/users/erdemtekiner","html":"https://unsplash.com/@erdemtekiner","photos":"https://api.unsplash.com/users/erdemtekiner/photos","likes":"https://api.unsplash.com/users/erdemtekiner/likes","portfolio":"https://api.unsplash.com/users/erdemtekiner/portfolio","following":"https://api.unsplash.com/users/erdemtekiner/following","followers":"https://api.unsplash.com/users/erdemtekiner/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1524979219824-b51a7b7a0575?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1524979219824-b51a7b7a0575?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1524979219824-b51a7b7a0575?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":null,"total_collections":0,"total_likes":4,"total_photos":72,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":null,"portfolio_url":null,"twitter_username":null,"paypal_email":null}},"exif":{"make":"Canon","model":"Canon
        EOS 5D Mark III","name":"Canon, EOS 5D Mark III","exposure_time":"1/180","aperture":"6.7","focal_length":"50.0","iso":100},"location":{"title":"Denver,
        CO, USA","name":"Denver, CO, USA","city":"Denver","country":"United States","position":{"latitude":39.739236,"longitude":-104.990251}},"views":720,"downloads":3}'
  recorded_at: Sun, 16 Jan 2022 20:10:45 GMT
recorded_with: VCR 6.0.0
