---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=ZHesXhc8C7qYFzqF_h3w5tt2ij4_jgFv4VlIiNGWIlU&orientation=landscape&page=1&per_page=1&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Etag:
      - W/"7d1f5d94bd3a05072699974e7ea3c41d"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"-cmb5CsrtM4","created_at":"2021-04-28T11:15:39-04:00","updated_at":"2022-01-15T15:18:23-05:00","promoted_at":null,"width":2718,"height":2383,"color":"#262626","blur_hash":"L7A,zk_3?bRj_3D%D%WB00D%IUt7","description":"BTS
        of ''''95 Jodeci'' and ''Cash Shit'' music videos for Vitorio. \nIlford Delta
        3200. March, 2021.","alt_description":"woman in white robe standing near glass
        window","urls":{"raw":"https://images.unsplash.com/photo-1619622651958-fe05bee4acfb?ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNTg4NTg\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1619622651958-fe05bee4acfb?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNTg4NTg\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1619622651958-fe05bee4acfb?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNTg4NTg\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1619622651958-fe05bee4acfb?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNTg4NTg\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1619622651958-fe05bee4acfb?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNTg4NTg\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/-cmb5CsrtM4","html":"https://unsplash.com/photos/-cmb5CsrtM4","download":"https://unsplash.com/photos/-cmb5CsrtM4/download?ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNTg4NTg","download_location":"https://api.unsplash.com/photos/-cmb5CsrtM4/download?ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNTg4NTg"},"categories":[],"likes":10,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"biZtPfVTaOU","updated_at":"2022-01-16T10:47:23-05:00","username":"mattmoloney","name":"Matt
        Moloney","first_name":"Matt","last_name":"Moloney","twitter_username":"matt_m64","portfolio_url":"https://filtergrade.com/","bio":"Co-Founder
        of FilterGrade. Contact: matt@filtergrade.com\r\nConnect with me on instagram
        @matt_moloney","location":"Boston, MA","links":{"self":"https://api.unsplash.com/users/mattmoloney","html":"https://unsplash.com/@mattmoloney","photos":"https://api.unsplash.com/users/mattmoloney/photos","likes":"https://api.unsplash.com/users/mattmoloney/likes","portfolio":"https://api.unsplash.com/users/mattmoloney/portfolio","following":"https://api.unsplash.com/users/mattmoloney/following","followers":"https://api.unsplash.com/users/mattmoloney/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1483215550144-d2eea4d5ca82?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1483215550144-d2eea4d5ca82?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1483215550144-d2eea4d5ca82?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"matt_moloney","total_collections":1,"total_likes":178,"total_photos":425,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"matt_moloney","portfolio_url":"https://filtergrade.com/","twitter_username":"matt_m64","paypal_email":null}},"exif":{"make":null,"model":null,"name":null,"exposure_time":null,"aperture":null,"focal_length":null,"iso":null},"location":{"title":"Denver,
        CO, USA","name":"Denver, CO, USA","city":"Denver","country":"United States","position":{"latitude":39.739236,"longitude":-104.990251}},"views":149087,"downloads":433}'
  recorded_at: Sun, 16 Jan 2022 18:47:38 GMT
recorded_with: VCR 6.0.0
