---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&lat=39.526903&lon=-119.813283&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.5269,"lon":-119.8133,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1642280530,"sunrise":1642259868,"sunset":1642294753,"temp":45.45,"feels_like":43.61,"pressure":1028,"humidity":55,"dew_point":30.45,"uvi":2.05,"clouds":75,"visibility":10000,"wind_speed":4,"wind_deg":146,"wind_gust":5.01,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1642280580,"precipitation":0},{"dt":1642280640,"precipitation":0},{"dt":1642280700,"precipitation":0},{"dt":1642280760,"precipitation":0},{"dt":1642280820,"precipitation":0},{"dt":1642280880,"precipitation":0},{"dt":1642280940,"precipitation":0},{"dt":1642281000,"precipitation":0},{"dt":1642281060,"precipitation":0},{"dt":1642281120,"precipitation":0},{"dt":1642281180,"precipitation":0},{"dt":1642281240,"precipitation":0},{"dt":1642281300,"precipitation":0},{"dt":1642281360,"precipitation":0},{"dt":1642281420,"precipitati[...]
