---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_api_key>&lat=36.169202&lon=-115.140597&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":36.1692,"lon":-115.1406,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1642282725,"sunrise":1642258241,"sunset":1642294137,"temp":59.2,"feels_like":55.94,"pressure":1026,"humidity":24,"dew_point":23.54,"uvi":1.4,"clouds":0,"visibility":10000,"wind_speed":4.61,"wind_deg":240,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1642282740,"precipitation":0},{"dt":1642282800,"precipitation":0},{"dt":1642282860,"precipitation":0},{"dt":1642282920,"precipitation":0},{"dt":1642282980,"precipitation":0},{"dt":1642283040,"precipitation":0},{"dt":1642283100,"precipitation":0},{"dt":1642283160,"precipitation":0},{"dt":1642283220,"precipitation":0},{"dt":1642283280,"precipitation":0},{"dt":1642283340,"precipitation":0},{"dt":1642283400,"precipitation":0},{"dt":1642283460,"precipitation":0},{"dt":1642283520,"precipitation":0},{"dt":1642283580,"precipitati[...]
