---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=ZHesXhc8C7qYFzqF_h3w5tt2ij4_jgFv4VlIiNGWIlU&orientation=landscape&page=1&per_page=1&query=denver,cocity
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Etag:
      - W/"7822eb632019a3ad7bb40c698bf791cf"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"dAr5vBODDsE","created_at":"2021-01-11T19:36:10-05:00","updated_at":"2022-01-16T06:16:59-05:00","promoted_at":null,"width":4188,"height":2244,"color":"#594040","blur_hash":"L8DbmC=x0ea#;1-pIoRjx]n%xat7","description":"INSTAGRAM:
        SARRAMPHOTOGRAPHY","alt_description":"yellow car parked beside brown brick
        building during daytime","urls":{"raw":"https://images.unsplash.com/photo-1610411605936-dac3f7f6f69f?ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjU2NDU\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1610411605936-dac3f7f6f69f?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjU2NDU\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1610411605936-dac3f7f6f69f?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjU2NDU\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1610411605936-dac3f7f6f69f?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjU2NDU\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1610411605936-dac3f7f6f69f?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjU2NDU\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/dAr5vBODDsE","html":"https://unsplash.com/photos/dAr5vBODDsE","download":"https://unsplash.com/photos/dAr5vBODDsE/download?ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjU2NDU","download_location":"https://api.unsplash.com/photos/dAr5vBODDsE/download?ixid=MnwyOTE1MTZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NDIzNjU2NDU"},"categories":[],"likes":3,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{"wallpapers":{"status":"rejected"}},"user":{"id":"7vaZ99fSB5o","updated_at":"2022-01-16T08:47:10-05:00","username":"nima_sarram","name":"Nima
        Sarram","first_name":"Nima","last_name":"Sarram","twitter_username":null,"portfolio_url":null,"bio":"INSTAGRAM:
        SARRAMPHOTOGRAPHY\r\nBased out of Denver Colorado","location":"Denver, Co","links":{"self":"https://api.unsplash.com/users/nima_sarram","html":"https://unsplash.com/@nima_sarram","photos":"https://api.unsplash.com/users/nima_sarram/photos","likes":"https://api.unsplash.com/users/nima_sarram/likes","portfolio":"https://api.unsplash.com/users/nima_sarram/portfolio","following":"https://api.unsplash.com/users/nima_sarram/following","followers":"https://api.unsplash.com/users/nima_sarram/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1601953490826-6eeca3f02875image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1601953490826-6eeca3f02875image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1601953490826-6eeca3f02875image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"sarramphotography","total_collections":16,"total_likes":19,"total_photos":353,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"sarramphotography","portfolio_url":null,"twitter_username":null,"paypal_email":null}},"exif":{"make":"NIKON
        CORPORATION","model":"NIKON D7500","name":"NIKON CORPORATION, NIKON D7500","exposure_time":"1/200","aperture":"1.8","focal_length":"35.0","iso":50},"location":{"title":"Denver,
        CO, USA","name":"Denver, CO, USA","city":"Denver","country":"United States","position":{"latitude":39.739236,"longitude":-104.990251}},"views":54275,"downloads":222}'
  recorded_at: Sun, 16 Jan 2022 20:40:45 GMT
recorded_with: VCR 6.0.0
